* {  /* zresetowanie wartości domyślnych */
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Raleway", sans-serif;
    background-color: #202020;
    color: white;
}

.nav-cont {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1px;
    justify-content: end;
}

.nav-cont a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #D5CAD6;
}

.nav-item {
    background-color: #101010;
    color: white;
}

header p {
    font-size: 2em;
    text-align: center;
    padding-bottom: 150px;
}
/*
header img {
    float: right;
}
*/
h1 {
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 5em;
    font-weight: 900;
    color: #FCA311;
}

h2 {
    font-size: 3em;
    color: #43AA8B;
    padding-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: #D5CAD6;
}

.opis {
    max-width: 1000px;
    line-height: 2;
    margin: auto;
    padding-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 100px 20px;
    width: 100%;
    align-items: start;
    justify-items: center;
}

img {
    display: block;
}

@media (min-width: 400px) {
    .item {
        border: 25px solid white;
    }
}
